body {
  line-height: 1.5;
  font-size: 18px;
}

h2 {
  text-align: center;
}

fieldset {
  border: none;
  padding: 0
}

fieldset legend {
  padding-top: 10px;
}

fieldset input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-style: solid;
  box-shadow: none;
  font-size: 20px;
  border: none;
  margin: 11px 0;
}
.calculator {
  padding: 25px;
  border-radius: 4px;
  background-color: #FFE4B2;
  margin: 50px auto 20px;
  width: 100%;
  max-width:600px;
  box-sizing: border-box;
}
